<!DOCTYPE html>
<html>
<head>
	<title>Select your song</title>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>
<body>
  <div class="jumbotron">
    <h1 class="text-center">Select a song to play</h1>
  </div>
  <div class="text-center">
    <a class="btn btn-primary" href="/spot/spotify:track:5rp19AOBRPkhHydihhE6LC">Grind State</a>
    <a class="btn btn-primary" href="/spot/spotify:track:6trOWWOKQeql1UibRk9SBS">Ophelia</a>
    <a class="btn btn-primary" href="/spot/spotify:track:5QNaiHB6yUJvOyyQhEksdy">Chill Hop</a>
  </div>
</body>
</html>